.big-text{
  font-size: 20px;
  font-weight: bold;
}

.medium-text{
  font-size: 14px;
}

.small-text{
  font-size: 12px;
}

.button{
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  border: #fff;
  cursor: pointer;
}

.m-5{
  margin: 5px;
}